POSTGRES_USERS_USER=changeme
POSTGRES_USERS_PASSWORD=changeme
POSTGRES_USERS_DB=users_db

POSTGRES_PROBLEMS_USER=changeme
POSTGRES_PROBLEMS_PASSWORD=changeme
POSTGRES_PROBLEMS_DB=problems_db

RABBITMQ_DEFAULT_USER=changeme
RABBITMQ_DEFAULT_PASS=changeme
